<button routerLink="/create" mat-icon-button color="primary">
    <mat-icon>add</mat-icon>
    Agregar Competidor
</button>
<hr/>
<table mat-table [dataSource]="competidores" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nombreCorporativo">
        <th mat-header-cell *matHeaderCellDef> NombreCorporativo </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCorporativo}} </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
            <button (click)="delete(row)" matTooltip="Eliminar" mat-icon-button color="primary">
                <mat-icon>delete_forever</mat-icon>                
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>