<h1 mat-dialog-title>Eliminar Competidor</h1>
<div mat-dialog-content>
    <p>Esta seguro que desea eliminar a {{data.nombre}}?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="Cancelar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Aceptar</button>
</div>