<b class="error">{{errorMsg}}</b>
<form [formGroup]="competidorForm" (ngSubmit)="create()">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Nuevo Competidor</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="codigo" formControlName="codigo" name="codigo" required/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="nombre" formControlName="nombre" name="nombre" required/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="dirección" formControlName="direccion" name="direccion" required/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="nombre corporativo" formControlName="nombreCorporativo" name="nombreCorporativo" required/>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Marca" formControlName="marca">
                        <mat-option *ngFor="let marca of marcas" [value]="marca">
                            {{marca.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Zona Precios" formControlName="zonaPrecio">
                        <mat-option *ngFor="let zonaPrecio of zonasPrecios" [value]="zonaPrecio">
                            {{zonaPrecio.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox formControlName="marcador" name="marcador">Marcador</mat-checkbox>
                <mat-checkbox formControlName="observar" name="observar">Observar</mat-checkbox>

                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14" [usePanning]="true" (mapClick)="updatePosition($event)">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary"><mat-icon>save</mat-icon>Guardar</button>
            <button routerLink="/competidor" mat-button color="warn"><mat-icon>home</mat-icon>Inicio</button>
        </mat-card-actions>
    </mat-card>
</form>